<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">  
    <link rel="stylesheet" href="/css/master.css">
    <title>Mini Proyecto Sequelize- Daniel Fuentes</title>
    <script>
        //Podemos colocar aquí código JavaScript
    </script>
    <style>
        /*Aquí pueden escribir código css*/
    </style>
</head>